/* Reset and base styles  */
* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Links */

a, a:link, a:visited  {
    text-decoration: none;
}

a:hover  {
    text-decoration: none;
}

/* Common */

aside, nav, footer, header, section, main {
	display: block;
}

h1, h2, h3, h4, h5, h6, p {
    font-size: inherit;
	font-weight: inherit;
}

ul, ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

img, svg {
	max-width: 100%;
	height: auto;
}

address {
  font-style: normal;
}

/* Form */

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}

input::-ms-clear {
	display: none;
}

button, input[type="submit"] {
    display: inline-block;
    box-shadow: none;
    background-color: transparent;
    background: none;
    cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
    outline: none;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

label {
	cursor: pointer;
}

legend {
	display: block;
}
body{
    background-color: bisque;
    display: flex;
    justify-content: center;
}
.App{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    width: 70vw;
}
.navbar{
    border: 3px solid teal;
    display: block;
    width: 100%;
    border-radius: 15px;
    padding: 10px 15px;

}
.navbar-list{
    display: flex;
    column-gap: 10px;
    justify-items: flex-end;
    flex-direction: row-reverse;
}
.navbar-list a{
    transition: all 0.3s ease;
    padding: 5px;
    color: black;

}
.navbar-list a:hover{

        background-color: #45a049; 
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
        transform: scale(1.05);
        font-weight: bold;
        border-radius: 5px;
}

.note{
    display: flex;
    flex-direction: column-reverse;
    row-gap: 30px;
}
.note-list{
    display: flex;
    flex-direction: column;
    min-width: 400px;
    max-width: 600px;
    height: 500px;
    padding: 20px;
    row-gap: 20px;
}
.note-list li.onedit{
    border-color: red;
}
.note-list li{
    border: 3px solid teal;
    border-radius: 5px;
    padding:10px 10px;
}
.note-list li{
    display: flex;
    column-gap: 40px;
    justify-content: space-between;
}
.note-form{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.note-form textarea{
    border: 3px solid teal;
    border-radius: 40px;
    width: 100%;
    height: 200px;
    padding: 20px;
    font-size: 25px;
}
.note-form button{
    margin-top: auto;
    text-transform: uppercase;
}
